.wrapper {
  border-radius: 0px !important;
}

.wrapper code {
  font-family: var(--font-mono);
}

.wrapper code > div {
  font-size: 1.125rem;
}

@media (min-width: 60rem) {
  .wrapper {
    border-radius: 4px !important;
    margin: 0px calc(32px * -1) !important;
  }
}
