.main {
  padding: 6rem;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
}

.greetingLeft {
  flex: 3 calc(600 / 16 * 1rem);
}

.greetingRight {
  flex: 2 300px;
  display: flex;
  justify-content: center;
  position: relative;
}

.flourish {
  position: absolute;
  left: -15px;
  top: 0;
  background: linear-gradient(
    to bottom,
    #ef17fe,
    #9e6cfe 40%,
    #7197ff,
    #44ccff 70%,
    #32a1e9 90%
  );
  width: 260px;
  height: 200px;
  z-index: 0;
  content: '';
  filter: blur(90px);
  transform: translateZ(0);
}

@media (max-width: 70.375rem) {
  .flourish {
    top: 100px;
    left: 15%;
  }
}

.carouselWrapper {
  padding: 1rem;
  background: var(--color-background-accent);
}

.techStackIntro {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1rem 0;
}

.heading {
  padding: 1rem 0;
}
