@keyframes bounceRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(8px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gradientText {
  width: fit-content;
  background: var(--retro-horizontal-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transform: skewX(-12deg);
  display: inline-block;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-medium);
}

.simpleLink {
  text-decoration: none;
  background: var(--retro-horizontal-gradient);
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 95%;
}

.main {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 2rem;
}

.main > * {
  grid-column: 1 / 9;
}

.mainHeading {
  margin-bottom: 1rem;
}

.heading {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  text-decoration: underline var(--color-primary) 2px;
  text-underline-offset: 6px;
}

.content {
  max-width: 65ch;
}

.fullBleed {
  grid-column: 1 / -1;
}

.aside {
  grid-column: 10 / -1;
  grid-row: 1;
  display: grid;
  place-content: center;
  position: relative;
}

.flourish {
  position: absolute;
  left: 96px;
  top: 96px;
  background: linear-gradient(
    to bottom,
    #ef17fe,
    #9e6cfe 40%,
    #7197ff,
    #44ccff 70%,
    #32a1e9 90%
  );
  width: 200px;
  height: 150px;
  z-index: 0;
  content: '';
  filter: blur(90px);
  transform: translateZ(0);
}

/* necessary since overflow-x: auto and overflow-y: visible don't mix, visible becomes auto when combined with anything besides visible */
.carouselWrapper {
  overflow-x: auto;
  padding: 1rem 0;
  background: var(--color-background-accent);
}

.carouselWrapper::-webkit-scrollbar {
  display: none;
}

.techStackDescriptionGroup {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.techStackDescription {
  flex: 0 0 65ch;
  max-width: 65ch;
}

.resumeLink {
  flex: 0 0 calc(181 / 16 * 1rem);
}

.resumeLinkArrow {
  display: inline-block;
  margin-left: 0.5rem;
}

.bottomMargin {
  margin-bottom: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .resumeLinkArrow {
    animation: 1000ms bounceRight infinite alternate ease-in-out;
  }
}

@media (max-width: 950px) {
  .main > * {
    grid-column: 1 / -1;
    padding: 0;
  }

  .aside {
    grid-column: 10 / -1;
    grid-row: revert;
  }

  .techStackDescriptionGroup {
    flex-direction: column;
  }

  .techStackDescription {
    flex: 0;
  }

  .resumeLink {
    flex: 0;
  }
}
