@keyframes bounceRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(8px);
  }
}

.wrapper {
  background-color: var(--color-background-accent);
  padding: 2rem;
  border-radius: 4px;
}

.title:hover {
  color: var(--color-primary);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  height: 100%;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 0 0.75rem;
}

.readMore {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: var(--font-weight-medium);
}

.readMore:hover {
  color: var(--color-primary);
}

.readMoreArrow {
  display: none;
  color: var(--color-primary);
}

.wrapper:hover {
  .readMoreArrow {
    display: revert;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .readMoreArrow {
    animation: 1000ms bounceRight infinite alternate ease-in-out;
  }
}
