.header {
  width: 100%;
  grid-column: 1 / -1;
  background: var(--color-background-accent);
}

.wrapper {
  max-width: min(1100px, calc(100% - 64px));
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
  /* Necessary so top gradient doesn't overlap */
  position: relative;
  z-index: 2;
}

.right {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

@media (max-width: 41.875rem) {
  .right {
    display: none;
  }
}

.action {
  border: none;
  background: transparent;
  color: var(--color-text);
  opacity: 0.7;
  cursor: pointer;
}

.action:hover {
  opacity: 1;
}
