.wrapper {
  display: block;
  position: relative;
  text-decoration: none;
  width: fit-content;
  padding: 0.4rem 0.6rem 0.3rem 0.5rem;
  cursor: pointer;
}

.text {
  display: block;
  text-wrap: balance;
  line-height: 1;
  overflow-wrap: break-word;
  font-size: 2rem;
  font-weight: var(--font-weight-medium);
  transition: transform 300ms;
}

.primary {
  color: var(--color-primary);
  position: relative;
  transform: translateX(0%);
}

.accent {
  color: var(--color-primary-accent);
  position: absolute;
  transform: translateX(15%);
}

.border {
  background-color: var(--color-primary);
  position: absolute;
  inset: 0;
  transition: transform 300ms;
}

.bottomLeft {
  clip-path: polygon(0% 100%, 50% 100%, 50% 92.5%, 10% 92.5%, 10% 50%, 0% 50%);
  transform: translate(-5%, 5%);
}

.topRight {
  clip-path: polygon(
    100% 0%,
    100% 50%,
    92.5% 50%,
    92.5% 7.5%,
    50% 7.5%,
    50% 0%
  );
  transform: translate(5%, -5%);
}

.wrapper:hover {
  .primary {
    transform: translateX(15%);
  }

  .accent {
    transform: translateX(0%);
  }

  .bottomLeft {
    transform: translate(0%, 0%);
  }

  .topRight {
    transform: translate(0%, 0%);
  }
}
