.wrapper {
  display: block;
  position: relative;
  width: fit-content;
}

.lastNameWrapper {
  transform: translate(50%, -20%);
}

.text {
  display: block;
  font-size: 1.75rem;
  font-weight: var(--font-weight-medium);
}

.primary {
  color: var(--color-primary);
  position: relative;
  z-index: 1;
  transition: transform 300ms;
  transform: translateX(-1.1%);
}

.accent {
  color: var(--color-primary-accent);
  position: absolute;
  z-index: 0;
  top: 0;
  transition: transform 300ms;
  transform: translateX(1.1%);
}

.wrapper:hover {
  .primary {
    transform: translateX(1.1%);
  }

  .accent {
    transform: translateX(-1.1%);
  }
}
