:root {
  --max-width: 1000px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

@media (min-width: 500px) {
  ::-webkit-scrollbar {
    /* Track color */
    background-color: var(--scrollbar-background-color);
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    /* Thumb color */
    background-color: var(--scrollbar-color);
    border-radius: 6px;
    border: 2px solid var(--scrollbar-background-color);
  }
}

/*
  CSS RESET
  https://www.joshwcomeau.com/css/custom-css-reset/
  https://andy-bell.co.uk/a-more-modern-css-reset/?ck_subscriber_id=478659957
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  /* Fill the entire initial viewport height in all browsers */
  min-height: 100vh;
  min-height: 100svh;
  background: var(--color-background);
  color: var(--color-text);
  overflow-x: clip;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
  9. Set CSS variables
*/
html {
  /* Clip overflow for flourishes */
  overflow-x: clip;

  /*
    Font weights
  */
  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;

  --font-size-sm: 0.75rem;
  --font-size-normal: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;

  /*
    Silence the warning about missing Reach Dialog styles
  */
  --reach-dialog: 1;

  --avatar-ratio: 0.354;
}

/* Prevent font size inflation */
html {
  scrollbar-gutter: stable;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default list styles on ul, ol elements with a list role */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding-inline-start: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* Override default anchor element color and underline */
a {
  color: inherit;
  text-decoration: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Add some space between inner paragraphs */
p + p {
  margin-top: 0.5rem;
}

button {
  display: block;
  margin: 0px;
  padding: 0px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: left;
  font: inherit;
}
