.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 3rem;
  padding-bottom: 16px;
  /* min-height: 100vh; */
}

@media (min-width: 64rem) {
  .main {
    padding: 6rem;
  }
}

.greeting {
  display: flex;
  flex-wrap: wrap;
}

.greetingLeft {
  flex: 3 350px;
  padding-right: 1rem;
}

.greetingRight {
  flex: 2 150px;
  position: relative;
}

.gradientText {
  width: fit-content;
  background: var(--retro-horizontal-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: skewX(-12deg);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
}

.simpleLink {
  /* text-decoration-color: var(--color-primary);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-underline-offset: 0.3rem; */
  text-decoration: none;
  background: var(--retro-horizontal-gradient);
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 95%;
}

.retroSun {
  position: absolute;
  left: 0;
  top: -30px;
  clip-path: circle(50%);
  background: var(--retro-sun-gradient);
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 0;
  content: '';
  transform: translateZ(0);
}

.oasis {
  position: relative;
  top: 50px;
  min-width: 300px;
  max-width: 350px;
}

.retroSunWrapper {
  filter: var(--retro-sun-shadow);
}

@media (max-width: 46.5625rem) {
  .greetingRight {
    padding-top: 3.5rem;
  }
  .retroSun {
    left: 15%;
  }
  .oasis {
    margin-left: auto;
    margin-right: auto;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
