.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* row-gap: 2rem; */
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.fullBleed {
  width: 100%;
  grid-column: 1 / -1;
}

.padded {
  padding: 0 2rem;
}

@media (min-width: 64rem) {
  .padded {
    padding: 0 6rem;
  }
}

.greeting {
  display: flex;
  flex-wrap: wrap;
}

.greetingLeft {
  flex: 3 350px;
  padding-right: 1rem;
}

.greetingRight {
  flex: 2 150px;
  position: relative;
}

.gradientText {
  width: fit-content;
  background: var(--retro-horizontal-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform: skewX(-12deg);
  display: inline-block;
  font-size: 1.25rem;
  font-weight: var(--font-weight-medium);
}

.simpleLink {
  text-decoration: none;
  background: var(--retro-horizontal-gradient);
  background-repeat: repeat-x;
  background-size: 100% 2px;
  background-position: 0 95%;
}

.retroSun {
  position: absolute;
  left: 0;
  top: -30px;
  clip-path: circle(50%);
  background: var(--retro-sun-gradient);
  min-width: 150px;
  max-width: 200px;
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 0;
  content: '';
  transform: translateZ(0);
}

.oasis {
  position: relative;
  top: 50px;
  min-width: 300px;
  max-width: 350px;
}

.retroSunWrapper {
  filter: var(--retro-sun-shadow);
}

@media (max-width: 46.5625rem) {
  .greetingRight {
    padding-top: 3.5rem;
  }
  .retroSun {
    left: 15%;
  }
  .oasis {
    margin-left: auto;
    margin-right: auto;
  }
}
