@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swiper {
  overflow: visible;
  animation: 1s fadeIn both;
  animation-delay: 1.75s;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 300ms;
}

.slide:hover {
  transform: scale(1.15);
}

.wordMark {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}

.reactLogo {
  background: #0f172a;
  border-radius: 4px;
  padding: 8px;
}
