.swiper {
  overflow: visible;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.wordMark {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

.logo {
  transition: transform 300ms;
}

.logo:hover {
  transform: scale(1.15);
}

.reactLogo {
  background: #0f172a;
  border-radius: 4px;
  padding: 8px;
}
