.swiper {
  overflow: visible;
  display: flex;
  gap: 16px;
  padding-inline-start: 32px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: transform 300ms;
  min-width: 128px;
}

.slide:hover {
  transform: scale(1.15);
}

.wordMark {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  text-align: center;
}

.reactLogo {
  background: #0f172a;
  border-radius: 2px;
  padding: 8px;
}
