@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  /* border-top: 1px solid var(--color-gray-900); */
  /* background: linear-gradient(
    to bottom,
    #ef17fe,
    #9e6cfe 40%,
    #7197ff,
    #44ccff 70%,
    #32a1e9 90%
  ); */
  grid-column: 1 / -1;
  background: var(--color-background-accent);
  /* background: linear-gradient(
    to top,
    var(--color-primary-50),
    var(--color-background-accent)
  ); */
  position: relative;
  transition: background 350ms ease 0s;
}

.container {
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: min(1000px, calc(100% - 64px));
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.thanks {
  font-weight: var(--font-weight-medium);
  animation: 2s fadeIn both;
}

.social {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
  padding-top: 12px;
}

.linksHeading {
  text-decoration: underline var(--color-primary) 4px;
  text-underline-offset: 6px;
}

.link:hover {
  font-weight: var(--font-weight-medium);
}

.link::after {
  content: attr(data-text) / '';
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--font-weight-bold);
  display: block;
}
