@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.footer {
  grid-column: 1 / -1;
  background: var(--color-background-accent);
  position: relative;
  transition: background 350ms ease 0s;
}

.container {
  padding: 2rem 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: min(var(--max-width), calc(100% - 64px));
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.thanks {
  font-weight: var(--font-weight-medium);
  font-size: calc(14 / 16 * 1rem);
  animation: 2s fadeIn both;
}

.social {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
  padding-top: 12px;
}

.socialIcon {
  display: inline;
  margin-right: 0.5rem;
}

.linksHeading {
  text-decoration: underline var(--color-primary) 4px;
  text-underline-offset: 6px;
}

.link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.link:hover {
  color: var(--color-primary);
}
