.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 2rem;
  padding-bottom: 16px;
  /* min-height: 100vh; */
}

@media (min-width: 64rem) {
  .main {
    padding: 6rem;
  }
}

.greeting {
  display: flex;
  flex-wrap: wrap;
}

.greetingLeft {
  flex: 3 350px;
}

.greetingRight {
  flex: 2 100px;
  display: flex;
  justify-content: center;
  position: relative;
}

.flourish {
  position: absolute;
  left: -15px;
  top: 0;
  background: linear-gradient(
    to bottom,
    #ef17fe,
    #9e6cfe 40%,
    #7197ff,
    #44ccff 70%,
    #32a1e9 90%
  );
  width: 260px;
  height: 200px;
  z-index: 0;
  content: '';
  filter: blur(90px);
  transform: translateZ(0);
}

.retroSun {
  position: absolute;
  left: calc(50% - 100px);
  top: -200px;
  clip-path: circle(50%);
  background: var(--retro-sun-gradient);
  width: 200px;
  height: 200px;
  z-index: 0;
  content: '';
  transform: translateZ(0);
}

.retroSunWrapper {
  filter: var(--retro-sun-shadow);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
