@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.wrapper {
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.wrapper:disabled {
  color: var(--color-primary);
}

.wrapper:hover {
  color: var(--color-primary);
}

.max {
  animation: fadeOut 3000ms forwards;
}
