@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.wrapper {
  color: var(--color-text-supporting);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.button {
  color: var(--color-text);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button:hover {
  color: var(--color-primary);
}

.max {
  animation: fadeInOut 5000ms forwards;
}
