.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

.box {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  background-color: darkslategray;
}

.link {
  text-wrap: balance;
  line-height: 1.1;
  overflow-wrap: break-word;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}
