.wrapper {
  position: relative;
  padding: 3px;
  width: fit-content;
  background: var(--color-gray-500);
  border: 1px solid var(--color-border);
}

.inner {
  padding: 0.25rem;
  background: var(--color-background);
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
  box-shadow: inset 0px 0px 2px 2px var(--color-primary-accent);
}
