.wrapper {
  display: flex;
  flex-direction: column;
  gap: calc(12 / 16 * 1rem);
}

.header {
  margin-bottom: calc(4 / 16 * 1rem);
}

.link {
  font-weight: var(--font-weight-normal);
}

.activeLink {
  font-weight: var(--font-weight-bold);
}
