.wrapper {
  position: relative;
  width: fit-content;
  /* equal padding allows clip path overlay to stay proportioned within bounds */
  padding: 1rem;
}

.border {
  background-color: var(--color-primary);
  position: absolute;
  inset: 0;
  transition: clip-path 1s;
  will-change: transform;
}

.link-h2 {
  text-wrap: balance;
  line-height: 1.1;
  overflow-wrap: break-word;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}
