@media (max-width: 42rem) {
  .nav {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  list-style-type: none;
}

.underline {
  background-color: var(--color-primary);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
}

.link {
  position: relative;
  display: block;
  padding: 8px 16px;
  opacity: 0.8;
  transition: opacity 500ms;
}

.link:hover {
  opacity: 1;
}

.link::after {
  content: attr(data-text) / '';
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--font-weight-bold);
  display: block;
}

.hoveredBackdrop {
  position: absolute;
  inset: 0;
  background: var(--color-backdrop);
  border-radius: 16px;
}
