.wrapper {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main {
  margin-bottom: 2rem;
}

@media (min-width: 50rem) {
  .wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 65ch) 250px;
    column-gap: 5rem;
  }

  .main {
    margin-bottom: revert;
  }
}
